body{
    background: #4a4;
}

 .rating {
    margin-top:100px;
    display: flex;
    justify-content: center;
 }

 .item{
    width:100px;
    height:100px;
    cursor: pointer;
    background-color: #888; 
 }

 .item-full {
    background-color: #ff3;
 }